PORT=5513
MONGO_URI=mongodb://<username>:<password>@localhost:27017/<database_name>?authSource=admin&w=1
# if authentication not enabled:
# MONGO_URI=mongodb://<username>:<passsword>@localhost:27017/<database_name>